# Игнор-лист файлов проекта

MainGame/Library/*
MainGame/Logs/*
Assembly-CSharp.csproj
MainGame.sln
default-2023.dwlt
MainGame/Assets/Editor.meta
MainGame/Assets/Editor/MediationAdapterDependencies.xml.meta
MainGame/MainGame.sln
MainGame/ProjectSettings/Packages/com.unity.services.mediation/Settings.json
*.csproj
*.sln
*.vsconfig
MainGame/MainGame.sln
MainGame/UserSettings/Layouts/default-2023.dwlt
